@model IEnumerable<lab1.DishIngredient>

@{
    ViewData["Title"] = "інгредієнти";
}

<h1>Інгредієнти для страви @ViewBag.DishName</h1>

@if (User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Додати інгредієнт", "Create", new { dishId = ViewBag.DishId })
    </p>
}
<table class="table">
    <thead>
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(model => model.Ingredient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ingredient.Name)
                </td>
                @if (User.IsInRole("admin"))
                {
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<div>
    @Html.ActionLink("Повернутись", "Back", new { dishId = ViewBag.DishId })
</div>
