@model IEnumerable<lab1.Type>

@{
    ViewData["Title"] = "Вибір типу страви";
}

<h1>Вибір типу страви</h1>

<p>
    <a asp-action="Create">Створити новий тип</a>
</p>

<div>
    <h3>Завантаження інформації із файла</h3>
    @using(Html.BeginForm("Import", "Types", FormMethod.Post, new
	{
		enctype="multipart/form-data", id="frm-excel"
	}))
	{
        <div>
            <input type="file" name="fileExcel" id="fileExcel"/>
            <div>
                <input type="submit" value="Завантажити" class="btn btn-primary" />
            </div>
        </div>
	}
</div>

<div>
    <h3>Завантаження інформації в файл</h3>
    <a asp-action="Export" class="btn btn-primary" >Завантажити</a>
</div>

<table class="table">
    <thead>
        <tr class="table-info">
            <th>

                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Info)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Info)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Змінити</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Вибрати</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container">
    <div id="chart1"></div>
</div>

@section Scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            $.get('/api/TypesDiagram/JsonData', function (jsonData) {
                data = google.visualization.arrayToDataTable(jsonData, false);
                var option = {
                    title: "Співвідношення кількості страв до типу",
                    width: 1000,
                    height: 800,
                };
                chart = new google.visualization.PieChart(document.getElementById('chart1'));
                chart.draw(data, option);
            })
        }
    </script>
}