@model IEnumerable<lab1.Restaurant>

@{
    ViewData["Title"] = "ресторани";
}

<h1>Ресторани</h1>

@if (User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create">Створити новий</a>
    </p>
}
<table class="table">
    <thead>
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (User.IsInRole("admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Змінити</a>
                    }
                    | <a asp-action="Details" asp-route-id="@item.Id">Вибрати</a> |
                    @if (User.IsInRole("admin"))
					{
                        <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
					}
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container">
    <div id="chart1"></div>
</div>

@section Scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            $.get('/api/RestaurantsDiagram/JsonData', function (jsonData) {
                data = google.visualization.arrayToDataTable(jsonData, false);
                var option = {
                    title: "Співвідношення кількості відкритих закладів до ресторану",
                    width: 1000,
                    height: 800,
                };
                chart = new google.visualization.BarChart(document.getElementById('chart1'));
                chart.draw(data, option);
            })
        }
    </script>
}